// ------- COLOURS -------
$bg-color:#f6f6f7;
$secondary-color:#fff;
$primary-btn-color:#37393d;
$input-border-color:#6d7178;
$btn-border-color:#121315;
$heading-color:#2e3034;
$pagination-color:#007b94;
$disabled-arrow-color:#adb1b8;
$table-heading-color: #6d7178;
$primary-text-color:#404247;
$secondary-text-color:#54575d;
$row-border:#e1e2e5;
$dark-gray:#121315;
$box-shadow:#ecedee;

// ------- Range input -------
$range-thumb-color:#309ab5;
$range-track-color:#e1e2e5;
$range-track-height: 6px;
$range-thumb-width: 25px;
$range-thumb-height: 25px;

// ------- Default font size -------
$font-family: Helvetica,Arial,sans-serif;

// ------- Default font size -------
$html-font-size: 16px;